
<style>

    #hero {
        padding-top:15%;
        text-align: center;
        align-content: center;
    }

    body {
        background-color: #E9E7E0;
    }
</style>
<div id="hero">
    <h1 class="text-center mb-4">
        Hi, Welcome
    </h1>


    <a class="btn btn-sm text-white px-4"
       style=" background-color: #679089;
            color: white;"
       href="~/Category/Index">
        Category
    </a>
    <a class="btn btn-sm text-white px-4"
       style=" background-color: #679089;
            color: white;"
       href="~/Product/Index">
        Product
    </a>

</div>





