@model Product
<style>
    body {
        background-color: #E9E7E0;
    }

    .purple-card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 8px 20px rgba(111, 66, 193, 0.2);
    }


    .purple-back-btn {
        background-color: #679089;
        color: white;
        border-radius: 8px;
    }

        .purple-back-btn:hover {
            color: white;
            background-color: #2C615C;
    }

</style>
<div class="container mt-5">
    <div class="card purple-card col-md-6 mx-auto">
        <img src="https://img.freepik.com/premium-vector/hammer-wrench-orange-road-sign-error-oops_18591-9339.jpg" alt="erorr" />

        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a class="btn purple-back-btn px-4"
       href="~/Product/Index">
        Back to Home
    </a>
</div>